<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="yumi">
    
    <xacro:include filename="$(find yumi_urdf)/urdf/yumi_config.urdf.xacro" />
    
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="base">
        <link name="yumi_body"/>
    </group>
       
    <group name="left_arm">
        <chain base_link="yumi_body" tip_link="yumi_link_7_l"/>
    </group>
    <group name="right_arm">
        <chain base_link="yumi_body" tip_link="yumi_link_7_r"/>
    </group>


    <!-- CONSTRAINT: first left then right -->
  <group name="arms">
    <!-- LEFT LEG -->
    <group name="left_arm"/>
    <!-- RIGHT LEG -->
    <group name="right_arm"/>
  </group>
  <!-- CONSTRAINT: first left then right -->
  <!--group name="legs"-->
    <!-- LEFT LEG -->
    <!--group name="left_leg"/-->
    <!-- RIGHT LEG -->
    <!--group name="right_leg"/-->
  <!---/group-->
    
 
    <group name="chains"> <!--THIS HAS TO BE THE LAST GROUP IN THE FILE -->
        <group name="left_arm"/>
        <group name="right_arm"/>
    </group>
</robot>
